<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.sportmate.main.hunt.applicant.dao.ApplicantDAO">

    <insert id="insertSupport" parameterType="com.project.sportmate.main.hunt.applicant.model.Applicant">
        INSERT INTO
            `support`
        (
            `userId`
            , `teamId`
            , `huntId`
            , `createdAt`
        )
        VALUES
        (
            #{userId}
            , #{teamId}
            , #{huntId}
            , now()
        )
    </insert>

    <select id="countSupportById" resultType="int" parameterType="map">
        SELECT
            count(1)
        FROM
            `support`
        WHERE
            `huntId` = #{huntId}
            AND `userId` = #{userId}
    </select>

    <delete id="deleteSupport" parameterType="int">
        DELETE FROM
             `support`
        WHERE
            `huntId` = #{huntId}
            AND `userId` = #{userId}
    </delete>

    <select id="selectSupportByHuntId" resultType="com.project.sportmate.main.hunt.applicant.model.Applicant" parameterType="int">
        SELECT
            `id`
            , `userId`
            , `teamId`
            , `huntId`
            , `createdAt`
        FROM
            `support`
        WHERE
            `huntId` = #{huntId}
    </select>

    <delete id="deleteSupportById" parameterType="com.project.sportmate.main.hunt.applicant.model.Applicant">
        DELETE FROM
            `support`
        WHERE
            `id` = #{id}
    </delete>

    <select id="selectSupport" resultType="com.project.sportmate.main.hunt.applicant.model.Applicant" parameterType="int">
        SELECT
            `id`
            , `userId`
            , `teamId`
            , `huntId`
            , `createdAt`
        FROM
            `support`
        WHERE
            `id` = #{id}


    </select>

</mapper>