<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.sportmate.main.hunt.dao.HuntDAO">
    
    <insert id="insertHunt" parameterType="com.project.sportmate.main.hunt.model.Hunt">
        INSERT INTO
            `hunt`
        (
            `userId`
            , `teamId`
            , `title`
            , `state`
            , `createdAt`
            , `updatedAt`
        )
        VALUES
        (
            #{userId}
            , #{teamId}
            , #{title}
            , '지원'
            , now()
            , now()
        )
    </insert>

    <select id="selectHuntList" resultType="com.project.sportmate.main.hunt.model.Hunt">
        SELECT
            `id`
            , `userId`
            , `teamId`
            , `title`
            , `createdAt`
            , `updatedAt`
        FROM
            `hunt`
    </select>

</mapper>