<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.project.sportmate.main.team.member.dao.MemberDAO">
 	
 	<insert id="insertMember" parameterType="com.project.sportmate.main.team.member.model.Member">
 		INSERT INTO
 			`member`
 		(
 			`userId`
			, `teamId`
 			, `rank`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
			, #{teamId}
 			, '대표'
 			, now()
 			, now()
 		)
 	</insert>

	<select id="selectMemberByTeamId" resultType="com.project.sportmate.main.team.member.model.Member"
			parameterType="com.project.sportmate.main.team.member.model.Member">
		SELECT
			`userId`
			, `teamId`
			, `rank`
			, `createdAt`
			, `updatedAt`
		FROM
			`member`
		WHERE
			`teamId` = #{teamId}
			AND `rank` = '대표'
	</select>

 </mapper>
