<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.sportmate.main.team.plan.dao.PlanDAO">

    <insert id="insertPlan" parameterType="map">
        INSERT INTO
            `plan`
        (
            `userId`
            , `teamId`
            , `plan`
            , `createdAt`
        )
        VALUES
        (
            #{userId}
            , #{teamId}
            , #{plan}
            , now()
        )
    </insert>

    <select id="selectPlanList" resultType="com.project.sportmate.main.team.plan.model.Plan" parameterType="map">
        SELECT
            `id`
            , `userId`
            , `teamId`
            , `plan`
            , `createdAt`
            , `updatedAt`
        FROM
            `plan`
        WHERE
            `userId` = #{userId}
            AND `teamID` = #{teamId}
    </select>

    <delete id="deletePlan" parameterType="map">
        DELETE FROM
            `plan`
        WHERE
            `userId` = #{userId}
            AND `id` = #{planId}
    </delete>

    <select id="selectPlanListById" resultType="com.project.sportmate.main.team.plan.model.Plan" parameterType="map">
        SELECT
        `id`
        , `userId`
        , `teamId`
        , `plan`
        , `createdAt`
        , `updatedAt`
        FROM
        `plan`
        WHERE
        `teamId` in
        <foreach collection="planIdList" item="planId" index="index" separator="," open="(" close=")">#{planId}
        </foreach>
    </select>

</mapper>