@charset "UTF-8";

#wrap {
	width : 1200px;
	height : 800px;
	margin : auto;
}

#wrap2 {
	width : 1200px;
	height : 700px;
	margin : auto;
}

header {
	width : 200px;
	height : 100px;
	color : #273c75;
}

nav {
	width : 1000px;
	height : 100px;
}

.signupLabel {
	font-size : 13px;
}

.signupInput {
	height : 30px;
	font-size : 13px;
}

.teamBox {
	width : 300px;
}

input[type=text], input[type=password], input[type=email] {
  border: none;
  border-bottom: 1px solid;
}

#idoverLapBtn {
	height : 30px;
	font-size: 13px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
	border-radius : 12px;
}

#idoverLapBtn:hover {
	color : white;
	background-color : #273c75;
}

#pwoverLapBtn {
	height : 30px;
	font-size: 13px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
	border-radius : 12px;
}

#pwoverLapBtn:hover {
	color : white;
	background-color : #273c75;
}

#sendBtn {
	height : 30px;
	font-size: 13px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
	border-radius : 12px;
}

#sendBtn:hover {
	color : white;
	background-color : #273c75;
}

#signupBtn {
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
	border-radius : 12px;
}

#signupBtn:hover {
	color : white;
	background-color : #273c75;
}

.genderBox {
	height : 25px;
}

.signinSec {
	background-color : #d5d5d5;
}

.signinBox {
	height : 35px;
}

.signinBox2 {
	height : 20px;
}

#loginBtn {
	color : white;
	background-color : #273c75;
}

.main {
	width : 1200px;
	height : 600px;
}

.photo1 {
	width : 400px;
	height : 300px;
}

.photo2 {
	width : 400px;
	height : 300px;
}

#idfindBtn {
	width : 150px;
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
}

#idfindBtn:hover {
	color : white;
	background-color : #273c75;
}

#pwfindBtn {
	width : 150px;
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
}

#pwfindBtn:hover {
	color : white;
	background-color : #273c75;
}

#loginIdfindBtn {
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
}

#loginIdfindBtn:hover {
	color : white;
	background-color : #273c75;
}

#passwordfindBtn {
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
}

#passwordfindBtn:hover {
	color : white;
	background-color : #273c75;
}

#passwordchangeBtn {
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
}

#passwordchangeBtn:hover {
	color : white;
	background-color : #273c75;
}

#cancelBtn {
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
}

#cancelBtn:hover {
	color : white;
	background-color : #273c75;
}

#homeBtn {
	height : 30px;
	color : #273c75;
	background-color : white;
}

#homeBtn:hover {
	color : white;
	background-color : #273c75;
}

#profileBtn {
	height : 30px;
	color : #273c75;
	background-color : white;
}

#profileBtn:hover {
	height : 30px;
	color : white;
	background-color : #273c75;
}

#teamBtn {
	height : 30px;
	color : #273c75;
	background-color : white;
}

#teamBtn:hover {
	color : white;
	background-color : #273c75;
}

#huntBtn {
	height : 30px;
	color : #273c75;
	background-color : white;
}

#huntBtn:hover {
	color : white;
	background-color : #273c75;
}

.profilecontent {
	height : 100px;
}

#editBtn {
	width : 270px;
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
}

#editBtn:hover {
	color : white;
	background-color : #273c75;
}

#preview-image{
	border-radius: 70%;
}

#editSaveBtn {
	width : 370px;
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
	border-radius : 12px;
}

#editSaveBtn:hover {
	color : white;
	background-color : #273c75;
}

.teammember {
	font-size : 15px;
	font-weight : bold;
}

.teammemberBox {
	height : 115px;
	font-size : 15px;
	font-weight : bold;
}

.profileImg2 {
	width : 50px;
	height : 50px;
	border-radius: 50%;
	background-color: tomato;
}

.story {
	font-size : 15px;
	font-weight : bold;
}

#uploadBtn {
	width : 100px;
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
}

#uploadBtn:hover {
	color : white;
	background-color : #273c75;
}

#deleteBtn {
	width : 100px;
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
}

#deleteBtn:hover {
	color : white;
	background-color : #273c75;
}

#commentdeleteBtn {
	width : 100px;
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
}

#commentdeleteBtn:hover {
	color : white;
	background-color : #273c75;
}

#modalcancelBtn {
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
}

#modalcancelBtn:hover {
	color : white;
	background-color : #273c75;
}

.comment-btn {
	background-color : #273c75;
	color : white;
	border: 1px solid #273c75;
}

.teambox {
	width : 150px;
	height : 150px;
}

#makeBtn {
	width : 100px;
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
}

#makeBtn:hover {
	color : white;
	background-color : #273c75;
}

#planCreateBtn {
	width : 100px;
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
}

#planCreateBtn:hover {
	color : white;
	background-color : #273c75;
}

.teamStory {
    width : 600px;
}


#huntMakeBtn {
	width : 100px;
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
}

#huntMakeBtn:hover {
	color : white;
	background-color : #273c75;
}

#applicantBtn {
	width : 150px;
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
}

#applicantBtn:hover {
	color : white;
	background-color : #273c75;
}
#supportBtn {
	height : 30px;
	color : white;
	background-color : #273c75;
}

footer {
	height : 50px;
}