@charset "UTF-8";

#wrap {
	width : 1200px;
	height : 800px;
	margin : auto;
}

header {
	width : 300px;
	height : 70px;
	color : #273c75;
}

nav {
	width : 900px;
	height : 100px;
}

.signupBox {
	height : 35px;
}

.signupBox2 {
	height : 20px;
}

.signupBox3 {
	height : 5px;
}

#overLapBtn {
	color : white;
	background-color : #273c75;
}

#sendBtn {
	color : white;
	background-color : #273c75;
}

#certBtn {
	color : white;
	background-color : #273c75;
}

#addBtn {
	color : white;
	background-color : #273c75;
}

.login {
	color : #273c75;
}

.signinlabel {
	font-size : 20px;
	color : #273c75;
}

.signinInput {
	height : 45px;
}

.signinbtn {
	height : 45px;
	color : white;
	background-color : #273c75;
}

.orword {
	font-size : 20px;
}

footer {
	height : 50px;
}