@charset "UTF-8";

#wrap {
	width : 1200px;
	height : 800px;
	margin : auto;
}

header {
	width : 200px;
	height : 100px;
	color : #273c75;
}

nav {
	width : 1000px;
	height : 100px;
}

.signupLabel {
	font-size : 13px;
}

.signupInput {
	height : 30px;
	font-size : 13px;
}

input[type=text], input[type=password], input[type=email] {
  border: none;
  border-bottom: 1px solid;
}

#idoverLapBtn {
	height : 30px;
	font-size: 13px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
	border-radius : 12px;
}

#idoverLapBtn:hover {
	height : 30px;
	font-size: 13px;
	color : white;
	background-color : #273c75;
	border: 1px solid #273c75;
	border-radius : 12px;
}

#pwoverLapBtn {
	height : 30px;
	font-size: 13px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
	border-radius : 12px;
}

#pwoverLapBtn:hover {
	height : 30px;
	font-size: 13px;
	color : white;
	background-color : #273c75;
	border: 1px solid #273c75;
	border-radius : 12px;
}

#sendBtn {
	height : 30px;
	font-size: 13px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
	border-radius : 12px;
}

#sendBtn:hover {
	height : 30px;
	font-size: 13px;
	color : white;
	background-color : #273c75;
	border: 1px solid #273c75;
}

#signupBtn {
	height : 30px;
	color : #273c75;
	background-color : white;
	border: 1px solid #273c75;
	border-radius : 12px;
}

#signupBtn:hover {
	height : 30px;
	color : white;
	background-color : #273c75;
	border: 1px solid #273c75;
	border-radius : 12px;
}

.signinSec {
	background-color : #d5d5d5;
}

.signinBox {
	height : 35px;
}

.signinBox2 {
	height : 20px;
}

#loginBtn {
	color : white;
	background-color : #273c75;
}

.main {
	width : 1200px;
	height : 600px;
}

.photo1 {
	width : 400px;
	height : 300px;
}

.photo2 {
	width : 400px;
	height : 300px;
}

footer {
	height : 50px;
}